body {
    overflow-x: hidden;
}

li {
    list-style-type: none
}

a:hover {
    text-decoration: none
}

a {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.small-container {
    width: 96%;
    margin: 0 auto
}

.overlay {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}

h2 span {
    text-decoration: underline black;
}

h2 {
    margin-bottom: 30px
}

/* navbar */

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color:transparent !important; /*changes nav bar color */
    color: green !important; /* doesnt do anything*/
    z-index: 1000;
}

.navbar a {
    color: white!important; /*change color letters*/
}

.navbar .navbar-toggler {
    background-color: white;/* change  ham button color*/
}


/* header */

header {
    position: relative
}

header img {
    width: 100%;
    height: 100%;
      
}

header .content {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
}
/* slideshow */



/* end of slideshow */
header .content > div:first-of-type {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;  /*text on header*/
}   

header .content > div:first-of-type h1 {
    margin-bottom: 20px /* change "Bienvenidos hi"*/
}

header .content {
    background-color: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
}

header .content a {
    width: 170px;
    border: 3px solid black; /*cover*/
    margin-top: 50px;
    text-align: right;
    color: white;
}

header .content a i {
    padding: 5px 15px;
    color: black;
    background-color: white;
}

header .content a span {
    margin-right: 20px;
    position: relative;
    bottom: 1px;
}


/* about */

.about {
    padding: 50px 30px
}
/* IMAGE */

.about .small-container{

    width: 95%;
    height: auto;
}
.about  .img {
    width: 95%;
}

.about .img img{
    width: 100%;
    height: auto;
}

/* TEXT */
.about .row > .col-lg-6:first-of-type {
    position: relative;
}

.about .about-child {
    width: 70%
}

 .about .about-child > p:first-of-type {  /*text */
    font-size: 20px;
    font-weight: bold;
}






/* contact */

.contact {
    padding: 70px 0;
}

.contact-child {
    background-color: black;
    background-image: url('contact.jpg');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 0;
}

.contact form input{
    width: 80%;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.contact form textarea {
    width: 80%;
    resize: none;
    height: 100px;
    margin-bottom: 15px;
}

.contact form input[type="submit"] {
    background-color: #fcfcfc;
    border: none;
    display: block;
    font-weight: bold;
    width: 180px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 0;
}




/* media queries */

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
    /* navbar */
    
    .navbar ul {
        background-color: white;
        padding: 10px 20px;
    }
    .navbar ul li a {
        color: black !important;
    }
    .navbar ul li a:hover {
        color: black !important;
    }
    .navbar ul form {
        position: static;
        width: 100%;
    }
    
    /* about */
    
    .about .img {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px
    }
    .about .f-bg,
    .about .s-bg {
        display: none;
    }
    .about .about-child {
        width: 60%;
        margin: 0 auto;
    }
    
    
    
    /* contact */
    
    .contact-child {
        background-image: none;
    }
    
    
}

@media (max-width: 768px) {
    
    /* header */
    
    header h1 {
        font-size: 35px;
    }
    
    /* about */
    
    .about .img,
    .about .about-child {
        width: 75%;
    }
    
    /* services */
    
    .services img {
        height: auto
    }
    
    /* footer */
    
    footer .row > .col-lg-9 {
        text-align: center;
        padding-left: 20px;
    }
    footer .row > .col-lg-9 > div > div {
        margin: 15px 0;
    }
    footer .row > .col-lg-9 > div > div i {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    /* about */
    
    .about .img,
    .about .about-child {
        width: 90%;
    }
}